a.L { text-decoration: none; }
a.L:hover { color: #FFAAAA; }
body { margin-top: 20px; margin-left: 30px; }
.lno { font-weight: bold: color #000; }
.keyword {font-weight: bold; color: #6666AA; }
.number  { color: #AA6666; }
.string  { color: #8888AA; }
.comment { color: #666600; }
.prepro { color: #006666; } 
div.block {
    background: #F6F6FF;
    width: 700px;
    border: solid 1px #00F;
    padding: 5px;
}